{{ partial "header.html" . }}

<div class="single-page">
    <div class="page__img" >

    </div>
    <div class="wrp page-wrp">
        <section class="post entry single" role="main">
            <header class="post__header">
                <h1 class="post__title title">{{ .Title }}</h1>
            </header>
            <div class="post__cnt">
                {{ .Content }}
            </div>
            <footer class="post__ftr">

            </footer>
        </section>
    </div>
</div>

    <div class="wrp">

        <p>Integer id dui non libero tincidunt faucibus ac quis lectus. Curabitur aliquet. </p>

        <h2>¿Qué es Balance Negativo?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ligula ex, vulputate ac ligula quis, accumsan posuere leo.</p>
        <p>Integer id dui non libero tincidunt faucibus ac quis lectus. Curabitur aliquet. </p>

    </div>

        <div class="team-mate">
            <div class="team-mate__pic">
                <img src="/img/gambit.png" alt="Esteban Cabral" />
            </div>
            <div class="wrp">
                <h3 class="team-mate__name">Esteban "Balance" Cabral</h3>
                <p class="team-mate__desc">
                    Diam nec viverra mollis, tortor lacus pretium purus, ut pulvinar odio tortor at nulla.
                    Suspendisse ut sodales ipsum. Donec sed blandit urna. Fusce eros erat, cursus in bibendum et, tempus et metus. Morbi ligula purus, vestibulum sed interdum condimentum, pharetra ac massa. In odio ipsum, laoreet id aliquam id, luctus vitae arcu.
                </p>
                <div class="team-mate__meta">
                    <a class="team-mate__tw" href="https://twitter.com/Esteban2184" title="Twitter de Esteban" target="_blank"><i class="icon icon-twitter"></i>@Esteban2184</a>
                </div>
            </div>
        </div>

        <div class="team-mate">
            <div class="team-mate__pic">
                <img src="/img/batman.png" alt="Gabriel Llagostera" />
            </div>
            <div class="wrp">
                <h3 class="team-mate__name">Gabriel "Negativo" Llagostera</h3>
                <p class="team-mate__desc">
                    Diam nec viverra mollis, tortor lacus pretium purus, ut pulvinar odio tortor at nulla.
                    Suspendisse ut sodales ipsum. Donec sed blandit urna. Fusce eros erat, cursus in bibendum et, tempus et metus. Morbi ligula purus, vestibulum sed interdum condimentum, pharetra ac massa. In odio ipsum, laoreet id aliquam id, luctus vitae arcu.
                </p>
                <div class="team-mate__meta">
                    <a class="team-mate__tw" href="https://twitter.com/gabycomiquero" title="Twitter de Gabriel" target="_blank"><i class="icon icon-twitter"></i>@gabycomiquero</a>
                </div>
            </div>
        </div>

        <div class="team-mate">
            <div class="team-mate__pic">
                <img src="/img/zatanna.png" alt="Micaela De Armas" />
            </div>
            <div class="wrp">
                <h3 class="team-mate__name">Micaela De Armas</h3>
                <p class="team-mate__desc">
                    Diam nec viverra mollis, tortor lacus pretium purus, ut pulvinar odio tortor at nulla.
                    Suspendisse ut sodales ipsum. Donec sed blandit urna. Fusce eros erat, cursus in bibendum et, tempus et metus. Morbi ligula purus, vestibulum sed interdum condimentum, pharetra ac massa. In odio ipsum, laoreet id aliquam id, luctus vitae arcu.
                </p>
                <div class="team-mate__meta">
                    <a class="team-mate__tw" href="https://twitter.com/mikadearmas" title="Twitter de Micaela" target="_blank"><i class="icon icon-twitter"></i>@mikadearmas</a>
                </div>
            </div>
        </div>

        <div class="team-mate">
            <div class="team-mate__pic">
                <img src="/img/batman.png" alt="Andrés Techera" />
            </div>
            <div class="wrp">
                <h3 class="team-mate__name">Andrés Techera</h3>
                <p class="team-mate__desc">
                    Diam nec viverra mollis, tortor lacus pretium purus, ut pulvinar odio tortor at nulla.
                    Suspendisse ut sodales ipsum. Donec sed blandit urna. Fusce eros erat, cursus in bibendum et, tempus et metus. Morbi ligula purus, vestibulum sed interdum condimentum, pharetra ac massa. In odio ipsum, laoreet id aliquam id, luctus vitae arcu.
                </p>
                <div class="team-mate__meta">
                    <a class="team-mate__tw" href="https://twitter.com/AndertechW" title="Twitter de Andrés" target="_blank"><i class="icon icon-twitter"></i>@AndertechW</a>
                </div>
            </div>
        </div>

    <div class="wrp">

        <h2>¿Por qué?</h2>

        <p>Diam nec viverra mollis, tortor lacus pretium purus, ut pulvinar odio tortor at nulla.</p>

    </div>


{{ partial "footer.html" . }}