{{ partial "header.html" . }}
	<div role="main">
		<section class="hero">
			{{ range first 1 (where .Site.Recent "Section" "podcasts") }}
			<div class="hero__wrp">
				<div class="hero__wrp-cnt">
					<span class="hero__meta">Temporada {{ .Params.temporada }}: Episodio {{ .Params.episodio }}</span>
					<h1 class="hero__tit">&ldquo;{{ .Title }}&rdquo;</h1>
					<h2 class="hero__sub-tit">{{ .Params.subtitle }}</h2>
					<p class="hero__desc">
						{{ .Description }}
					</p>
					<div class="hero__podcast">
						<audio controls>
							<source src="/audio/{{ .Params.audio }}.mp3" type="audio/mpeg">
							Tu navegador no soporta la etiqueta audio de html5 o nos falto subir un formato soportado, sori.
						</audio>
					</div>
					<div class="hero__actions">
						<div class="hero__actions-wrp">
							<div class="hero__actions-btn-wrp">
								<a class="btn " href="{{ .Params.soundcloudurl }}"><i class="icon icon-soundcloud"></i> Escuchar en SoundCloud</a>
								<a class="btn btn--negativo btn--descarga" href="/audio/{{ .Params.audio }}.mp3" target="_blank" title="Descargar Episodio 01" download><i class="icon icon-download"></i> Descargar Episodio</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{ end }}
		</section>


		<div class="featured-section">
			<div class="wrp">
				<section class="article-list article-list--podcast">
					<h1 class="article-list__title"><a href="/podcasts/">Últimos episodios</a></h1>
					{{ range where .Paginator.Pages "Section" "podcasts"}}
					<article class="article-list__item">
						<div class="article-list__item-meta">
							<div class="article-list__item-season">Temporada {{ .Params.temporada }} Episodio {{ .Params.episodio }}</div>
							<div class="article-list__item-date">{{ .Date.Format "2-01-2006" }}</div>
						</div>

						<h1 class="article-list__item-title">
							<a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
						</h1>
						<p class="article-list__item-desc">
							{{ .Description  }}
							<a class="article-list__item-more" href="{{ .Permalink }}" title="{{ .Title }}">Ir al podcast <i class="icon icon-right-open"></i></a>
						</p>
					</article>
					{{ end }}
				</section>
			</div>
		</div>


		<div class="wrp">
			<section class="article-list">
				<h1 class="article-list__title"><a href="/blog/">Blog</a></h1>
				{{ range first 5 (where .Paginator.Pages "Section" "blog")}}
				<article class="article-list__item">
					<div class="article-list__item-meta">
						<div class="article-list__item-date">{{ .Date.Format "2-01-2006" }}</div>
						<div class="article-list__item-author">por {{ .Params.author }}</div>
						<div class="article-list__item-categories">
						{{ range .Params.categories }}
							en: <a href="/categories/{{ . | urlize }}/" class="article-list__item-category">{{ . }}</a>
						{{ end }}
						</div>
					</div>
					<h1 class="article-list__item-title">
						<a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
					</h1>
					<p class="article-list__item-desc">
						{{ .Summary  }}
						<a class="article-list__item-more" href="{{ .Permalink }}" title="{{ .Title }}">Seguir Leyendo <i class="icon icon-right-open"></i></a>
					</p>
				</article>
				{{ end }}
			</section>


		</div>
	</div>
{{ partial "footer.html" . }}

