{{ partial "header.html" . }}
<div class="page__img" style="background-image: url(/img/{{ .Params.image }})">

</div>
<div class="wrp page-wrp">
    <section role="main" class="post">
        <header class="post__header">
            <h1 class="post__title">{{ .Title }}</h1>
            <div class="post__meta">
                Publicado el:&nbsp;
                <time class="post__date" datetime="{{ .Date }}">{{ .Date.Format "2-01-2006" }}</time>
                &nbsp;por&nbsp;
                <span class="post__author">{{ .Params.author }}</span>
            </div>
            {{ partial "sharing-buttons.html" . }}
        </header>
        <div class="post__cnt">
            {{ .Content }}
        </div>
        <footer class="post__ftr">
            {{ partial "disqus.html" . }}
        </footer>
    </section>
</div>

{{ partial "footer.html" . }}