    <footer class="main-ftr">
      <div class="wrp">
        <div class="main-ftr__main">
            <div class="main-ftr__col">
                <strong class="main-ftr__logo"><img src="/img/ftr-logo.png" alt="Balance Negativo"></strong>
                <p class="main-ftr__desc">El Podcast que nadie pidió. Cine, series, comics, nerdeadas y boludeces varias.</p>
            </div>
            <div class="main-ftr__col">
                <strong>Balance Negativo: </strong>
                <ul class="main-ftr__list">
                    <li class="main-ftr__nav-it"><a href="/podcasts/" title="Ver lista de Podcasts">Podcasts</a></li>
                    <li class="main-ftr__nav-it"><a href="/blog/" title="Ir al Blog">Blog</a></li>
                    <li class="main-ftr__nav-it"><a href="/categories/reviews/" title="Ver lista de reseñas">Reviews</a></li>
                    <li class="main-ftr__nav-it"><a href="/categories/noticias/" title="Ver lista de noticias">Noticias</a></li>
                    <!--li class="main-ftr__nav-it"><a href="/acerca/" title="Acerca de Nosotros">Acerca de BN</a></li-->
                </ul>
            </div>
            <div class="main-ftr__col">
                <div class="social-links">
                  <strong>Seguínos en: </strong>
                    <ul class="main-ftr__list">
                        <li><a href="https://www.facebook.com/balancenegativo?fref=ts" title="Balance Negativo en Facebook" target="_blank"><i class="icon icon-facebook-squared"></i> Facebook</a></li>
                        <li><a href="https://twitter.com/podcastbn" title="Balance Negativo en Twitter" target="_blank"><i class="icon icon-twitter"></i> Twitter</a></li>
                        <li><a href="https://soundcloud.com/balancenegativo" title="Balance Negativo en SoundCloud" target="_blank"><i class="icon icon-soundcloud"></i> SoundCloud</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div role="contentinfo">Balance Negativo &mdash; est. 2015</div>
      </div>
    </footer>
    <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script-->
    </body>
</html>
